 
.landing-block {
    padding-top: 100px;
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
    background-size: contain;
}

/*********
** Portfolio piece component
*********/
.folio-piece {
    margin: 200px 0;
    background: #f4f4f4;
    float: left;
    height: 400px;
}
.folio-piece__text {
    padding: $line-height-computed * 3;
}
.folio-piece__img {
    width: 100%;
    visibility: hidden;
}
.folio-piece__img-cover {
    width: 50%;
    float: left;
    height: 100%;
}

/*********
** Flightgroove logo
*********/
.flightgroove-logo {
    text-align: center;
    font-weight: bold;
    color: #fff;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 160px;
    line-height: 1.5em;
}
.flightgroove-logo__tagline {
    font-size: 21px;
}
.flightgroove-logo__header {
    border-bottom: 2px solid #fff;
    font-size: 36px;
}
.flightgroove-bg {
    background-color: #DE392E;
}