
.landing-block {
  padding-top: 100px;
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 200px; 
  color: #fff;
}
.landing-block a {
    color: #fff;
    text-decoration: underline;
}
.scroll-cta {
    color: white;
    text-align: center;
    font-size: 24px;
    background: $brand-primary;
    line-height: 42px;
    height: 42px;
}
.contact-section {
    border-top: 2px solid #777;
    margin-top: $line-height-computed * 2;
    margin-bottom: $line-height-computed * 4;
    text-align: center;
}
.contact-section__sites {
    font-size: 21px;
}
/*********
** Portfolio piece component
*********/
.folio-piece {
  min-height: 300px; 
  padding-top: $line-height-computed * 3;
}

.folio-piece__text {
  padding: 0 #{$line-height-computed * 2};
  float: left; 
}

.folio-piece__img {
  width: 100%;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0; 
}

.folio-piece__img-cover {
  float: left;
  position: relative;
  height: 300px; 
}

/*********
** Flightgroove logo
*********/
.flightgroove-logo {
  text-align: center;
  font-weight: bold;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  line-height: 1.5em; 
}

.flightgroove-logo__tagline {
  font-size: 21px; 
}

.flightgroove-logo__header {
  border-bottom: 2px solid #fff;
  font-size: 36px;
  display: block;
  padding: 0 10px;
  line-height: 1.5em; 
}

.flightgroove-bg {
  background-color: #DE392E; 
}
